
    {% extends "Home.html" %}

{% block content %}
    <h2 class="heading">{{operation}}   Inspection In Charge</h2>
    <form id="frm" name="frm" method="post" action="/ProcessInspectionInChargeOperation" enctype="multipart/form-data">
               
      
         <input type="hidden" name="operation" value="{{ operation }}"/>
         <input type="hidden" name="inspectionInChargeID" value="{{ row.inspectionInChargeID }}"/>

        

                                            <div class="form-group row">
                                    <label for="inspectionInChargeName" class="col-sm-3 col-form-label">Inspectioninchargename </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="inspectionInChargeName" id="inspectionInChargeName"  value="{{ row.inspectionInChargeName }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
    <label for="isActive" class="col-sm-3 col-form-label">Isactive </label>
    <div class="col-sm-9">
        <input type="checkbox"  name="isActive" id="isActive"  {{ 'checked' if row.isActive == 1 }} {{'disabled' if operation == 'Delete'}} />
    </div>
</div>
                                            
    
		
        <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-sm ">{{operation}}</button>
                <a href="/InspectionInChargeListing" class="btn btn-outline-primary btn-sm ">Cancel</a>
        </div>

    </form>
    
{% endblock %}
    